.color-swatch {
    color: #ab7860; /* _sötetdrapp */

}

.color-swatch {
    color: rgb(194, 62, 29); /* _vörös */
}

.color-swatch {
    color: #c23e1d;
}

.color-swatch {
    color: #bf8c6a; /* _vörös */
}

.color-swatch {
    color: #e2c68e; /* _drapp */
}