.color-swatch {
    color: #ab7860; /* _sötetdrapp */

}

.color-swatch {
    color: rgb(194, 62, 29); /* _vörös */
}

.color-swatch {
    color: #c23e1d; /* _vörös */
}

.color-swatch {
    color: #bf8c6a;
}

.color-swatch {
    color: #e2c68e; /* _drapp */
}

.color-swatch {
    color: #C2211D;
}

.color-swatch {
    color: #1DA1C2;
}

.color-swatch {
    color: #EB3F97;
}

.color-swatch {
    color: #8EAAE2;
}