 @font-face {
     font-family: Libel_Suit_Rg;
     src: url(../../Arculati_Elemek/libel-suit-rg.otf);
 }

 h3, h2, h1, p {
     font-size: 150%;
 }

 body {
     background-color: #f6efe1;
     font-family: Libel_Suit_Rg, ui-rounded;
 }

 div.gallery {
 }

 div.gallery > section > a {
     text-decoration: none;
 }

 div.gallery > section > a > h1 {
     text-align: center;
     border: #ab7860 2px solid;
     border-radius: 50px;
     background-color: #ffe3a8;
     color: #000;
 }

 div.gallery > section > h1:hover {
     background-color: #bc9675;
 }

 body>div.footing {
     margin: 5% 0 0;
     background: #f6efe1;
 }

 /* TODO: Split the footer's content from the background with the before element */
 div.footing>footer {
     margin-left: auto;
     margin-right: auto;
     margin-top: 5%;
     margin-bottom: 0;
     padding: 20px 20px 100px;
     width: auto;
     height: 150px;
     overflow: hidden;
     border-radius: 20px;
     background-color: #f6efe1;
     mix-blend-mode: multiply;
     opacity: 75%;
     position: relative;
     z-index: 0;
     font-size: 1.2em;
 }

 img:hover {
     mix-blend-mode: difference;
 }

 div.footing > footer::before {
     box-sizing: border-box;
     content: '';
     position: absolute;
     z-index: -1;
     top: -100px;
     left: -5%;
     width: 421px;
     height: 423px;
     background-image: url("/Arculati_Elemek/Logo/small-logo-gray.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: 75%;
     transform: rotate(30deg);
     opacity: 30%;
     mix-blend-mode: darken;
 }

 div.footing>ul {
     list-style-type: none;
 }

 .banner {
     background: rgba(200, 200, 200, 75%);
     color: #c23e1d;
     font-size: 20px;
 }

 body>div.page {
     background-color: #f6efe1;
     font-family: Libel_Suit_Rg, ui-rounded;
     border: 0 solid blue;
     border-radius: 50px;
 }

 body>div.page>section {
     background-color: rgba(194, 62, 29, 0%);
     /*border: 1px solid darkred;*/
     border-radius: 50px;
     padding: 2%;
 }

 section>iframe {
     background-color: #e5d0be;
     /*border-style: none;*/
     border: 5px solid rgba(194, 62, 29, 0%);
     border-radius: 50px;
 }

 section > iframe.fb-post {
     background-color: #f6efe1;
     border-radius: 0;
 }

 section > svg {
     background-color: #c23e1d;
     /*border-style: none;*/
     border: 5px solid rgba(194, 62, 29, 0%);
     border-radius: 50px;
 }

 a {
     color: #5c4034;
 }

 /*these are the buttons for social media, we probably only need like two of them but it is nice to have them for shits and giggles*/
 .fa {
     text-align: center;
     text-decoration: none;
     border-radius: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .fa:hover {
     opacity: 0.7;
 }

 .fa-facebook {
     background: #3B5998;
     color: white;
 }

 .fa-google {
     background: #dd4b39;
     color: white;
 }

 .fa-youtube {
     background: rgb(194, 62, 29);
     color: white;
 }

 .fa-instagram {
     background: linear-gradient(#125688, rgb(194, 62, 29));
     color: white;
 }