html,
body {
    height: 100%;
    width: 100%;
}

div.heading {
    overflow: hidden;
    float: left;
    width: 100%;
}

div.heading > header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;
}

/*
div.heading>header#small-logo {
    grid-area: logo;
}*/

/*
div.heading>header#social {
    grid-area: soc;
}*/

div.navbar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.navbar>nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #9F8C76;
    border-radius: 15px;
    overflow: hidden;
}


div.navbar>nav>ul li {
    float: left;
}

div.navbar>nav>ul li a {
    display: block;
    padding: 8px;
    color: #000;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    opacity: 50%;
    /*border-right: 1px solid #000;*/
}


div.navbar>nav>ul li:last-child {
    float: right;
}

div.navbar>nav>ul li:last-child a {
    color: #9F8C76;
}

div.navbar nav ul li a#active {
    background-color: #fff;
    color: rgb(194, 62, 29);
    border: 1px solid #000;
    opacity: 100%;
}

div.navbar nav ul li a:hover {
    background-color: #fff;
    color: rgb(194, 62, 29);
    border: 1px solid #000;
    opacity: 100%;
}

/*
div.content {
    min-height: 500px;
    padding: 2% 10%;
}

div.content > iframe {
    border-radius: 50px;
    height: 800px;
}*/


div.footing #left {
    grid-area: footl;
}

div.footing #right {
    grid-area: footr;
}

.fa {
    position: absolute;
    width: 5%;
    max-width: 75px;
    aspect-ratio: 1;
    font-size: 200%;
    max-font-size: 50px;
    margin-right: 0;
    clear: left;
    right: 10px;
}

.fa-facebook {
    top: 1%;
}

.fa-instagram {
    top: 12%;
}

.fa-youtube {
    top: 23%
}

.fa-google {
}

div.footing {
    width: 100%;
    margin: 50px;
    display: grid;
    grid-template-areas:
        'padl footl footr padr'
    ;
    grid-template-rows: auto;
    grid-template-columns: 20% auto auto 20%;
}

.banner {
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background: darkgray;
    color: #c23e1d;
    font-size: 20px;
}