html,
body {
    height: 100%;
    margin: 0;
}

div.page {
    /*overflow: hidden;*/
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content;
    gap: 10px;
    /*width: 90%;*/
}

div.page > section {
    display: inline-block;
    max-width: 100%;
    min-height: 315px;
}

div.page > section > img {
    max-width: 100%;
    height: auto;
}

div.page > section > iframe {
    aspect-ratio: 210/297;
    min-width: 210px;
    min-height: 297px;
    width: 100%;
}

div.page > section > img.inner {
    display: inline;
    max-width: 50%;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
    div.page {
        width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    a.fa {
        display: none;
    }
}