html,
body {
    height: 100%;
    width: 100%;
}

div.heading {
    overflow: hidden;
    float: left;
    width: 100%;
}

div.heading > header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;
}

/*
Legyennek gap-ek a navbar-ban!
https://ferenc800.hu/ dizályn példa
*/
div.navbar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.navbar>nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #9F8C76;
    border-radius: 15px;
    overflow: hidden;
}

div.navbar>nav>ul li {
    float: left;
}

div.navbar>nav>ul li a {
    font-size: 1.3em;
    margin-right: 10px;
    display: block;
    padding: 8px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    opacity: 90%;
    /*border-right: 1px solid #000;*/
}

div.navbar>nav>ul li:last-child {
    float: right;
    margin: 0;
}

div.navbar>nav>ul li:last-child a {
    color: #9F8C76;
}

div.navbar nav ul li a#active {
    background-color: #fff;
    color: rgb(194, 62, 29);
    border: 1px solid #000;
    opacity: 100%;
}

div.navbar nav ul li a:hover {
    background-color: #fff;
    color: rgb(194, 62, 29);
    border: 1px solid #000;
    opacity: 100%;
}

/*
div.content {
    min-height: 500px;
    padding: 2% 10%;
}

div.content > iframe {
    border-radius: 50px;
    height: 800px;
}*/

div.footing #left {
    grid-area: footl;
}

div.footing > footer#middle {
    grid-area: footm;
    margin-left: 20px;
    margin-right: 20px;
    height: fit-content;
    max-width: 500px;
}

div.footing > footer#middle > section > img {
    max-width: 75%;
    height: auto;
}

div.footing > footer#middle > img {
    display: inline;
    max-width: 25%;
    height: auto;
    float: left;
}

div.footing > footer#middle > section {
    float: right;
    display: inline-flex;
    flex-direction: column;
}

/*
div.footing #right {
    grid-area: footr;
}*/

header#social {
    position: absolute;
    margin-top: 80px;
    margin-right: 10px;
    clear: left;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fa {
    width: 100%;
    min-width: 75px;
    aspect-ratio: 1;
    font-size: 200%;
    max-font-size: 50px;
    margin-bottom: 10px;
}

div.footing {
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-areas:
        'padl footl footm padr' /*Add footr if needed*/
    ;
    grid-template-rows: auto;
    grid-template-columns: 5% auto auto 5%;
}

@media only screen and (max-width: 1000px) {

    div.footing {
        width: 100%;
        padding: 0;
        display: block;
        font-size: 3vw;
    }

    div.footing #left {
        width: 80%
    }

    div.footing #middle {
        width: 80%
    }

    div.footing #right {
        width: 80%;
    }

    div.heading > header > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 90%;
    }

    header#social {
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        gap: 10%;
    }

    .fa {
        width: 100%;
        min-width: 48px;
        max-width: 75px;
        max-font-size: 50px;
        margin-bottom: 10px;
    }

    div.navbar > nav > ul li a {
        margin-right: 5px;
    }

    div.navbar > nav > ul li:last-child {
        display: none;
    }
}

@media only screen and (max-width: 800px) {

    div.navbar > nav > ul li a {
        font-size: 1.5em;
    }

    div.footing {
        width: 100%;
        padding: 0px;
        display: block;
        font-size: 3vw;
    }

    div.footing #left {
        width: 80%
    }

    div.footing #middle {
        width: 80%
    }

    div.footing #right {
        width: 80%;
    }

    div.heading > header > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 90%;
    }

    header#social {
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        gap: 10%;
    }
    .fa {
        width: 100%;
        min-width: 48px;
        max-width: 75px;
        max-font-size: 50px;
        margin-bottom: 10px;
    }

    div.navbar > nav > ul li a {
        margin-right: 0;
    }

    div.navbar > nav > ul li:last-child {
        display: none;
    }
}

div.banner {
    display: none;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

div.banner > p {
    margin-top: 0;
    margin-bottom: 0;
}

div.banner > div {
    margin-top: 0;
}