html,
body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box
}

div.content {
    /*overflow: hidden;*/
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content;
    gap: 10px;
    /*width: 90%;*/
}

div.mono {
    width: 90%;
    margin: 10px auto 20px;
    align-content: center;
}

div.mono > iframe {
    aspect-ratio: 3;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 315px;
    border-radius: 50px;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    div.content {
        width: 90%;
        margin: 10px 15px auto;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        gap: 10px;
    }

    div.doksi {
        display: none;
    }

    div.mono > iframe {
        aspect-ratio: 560/315;
        width: 100%;
        margin: 0;
        min-height: 315px;
        border-radius: 50px;
    }
}

div.content > section.column-right > img {
    max-width: 100%;
    height: auto;
}

div.content > section.column-left {
    max-width: 100%;
    height: auto;
}

div.content > section > iframe {
    aspect-ratio: 560/315;
    width: 100%;
    min-height: 315px;
}

section.column-left {
    max-width: 100%;
}

section.column-right {
    max-width: 100%;
}

div.palyazatok {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.palyazatok h3, h2 {
    text-align: center;
}