html,
body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box
}

div.gallery {
    min-width: 1000px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(4, max-content);
    gap: 20px 10%;
}

div.gallery > section {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
}

div.gallery > section > a > h1 {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    padding: 10px;
}

div.gallery > section > img {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
}

div.gallery > section > a > img {
    aspect-ratio: 16/9;
    width: 100%;
    border-radius: 30px;
    height: auto;
}

div.gallery > section > iframe {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    div.gallery {
        width: 100%;
        margin: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
        gap: 10px;
    }

    div.gallery > section {
        aspect-ratio: unset;
        min-height: 0;
        min-width: 350px;
        align-content: center;
    }

    a.fa {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    div.gallery {
        width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        gap: 10px;
    }

    div.gallery > section {
        aspect-ratio: unset;
        min-height: 0;
        min-width: 350px;
        align-content: center;
    }

    div.gallery > section > iframe {
        display: none;
    }

    a.fa {
        display: none;
    }
}