html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

div.heading {
    overflow: hidden;
    float: left;
    width: 100%;
}

div.heading > header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%;
}

div.navbar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
}

div.navbar>nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #9F8C76;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

div.navbar>nav>ul li a {
    font-size: 1.3em;
    display: block;
    padding: 8px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    opacity: 90%;
    /*border-right: 1px solid #000;*/
}

div.navbar>nav>ul li:last-child {
    margin-left: auto;
}

div.navbar>nav>ul li:last-child a {
    color: #9F8C76;
}

div.navbar nav ul li a#active {
    background-color: #fff;
    color: rgb(194, 62, 29);
    border: 1px solid #000;
    opacity: 100%;
}

div.navbar > nav > ul li a#felveteli {
    color: rgb(194, 62, 29);
    opacity: unset;
}

div.navbar nav ul li a:hover {
    background-color: #fff;
    color: rgb(194, 62, 29);
    border: 1px solid #000;
    opacity: 100%;
}

div.navbar nav ul li a#felveteli:hover {
    background-color: #fff;
    color: rgb(194, 62, 29);
    border: 1px solid #000;
    opacity: 100%;
}

div.footing > footer {
    width: 100%;
}

div.footing > footer#left {
    font-size: x-large;
    grid-area: footl;
    margin: 0 20px;
    height: 100%;
}

div.footing > footer#right {
    grid-area: footr;
    margin: 0 20px;
    height: fit-content;
    width: fit-content;
}

div.footing > footer#right > img {
    width: 100%;
    height: auto;
}


header#social {
    position: absolute;
    margin-top: 80px;
    margin-right: 0;
    clear: left;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fa {
    width: 100%;
    min-width: 4vw;
    aspect-ratio: 1;
    font-size: xx-large;
    margin-bottom: 10px;
}

div.footing {
    padding: 50px;
    display: grid;
    grid-template-areas:
        'padl footl footr padr';
    grid-template-rows: max-content;
    grid-template-columns: 5% 45% 45% 5%;
}

@media only screen and (max-width: 1081px) {

    div.footing {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
        gap: 20px;
    }

    div.footing > footer#left,
    div.footing > footer#middle,
    div.footing > footer#right {
        width: 90%;
        margin: 0 auto;
    }

    div.heading > header > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        width: 90%;
    }

    header#social {
        margin-top: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        gap: 10%;
    }

    .fa {
        width: 100%;
        min-width: 48px;
        max-width: 75px;
        margin-bottom: 10px;
    }

    div.navbar > nav > ul li a {
        margin-right: 5px;
    }

    div.navbar > nav > ul li:last-child {
        display: none;
    }
}

@media only screen and (max-width: 800px) {

    div.navbar > nav > ul li a {
        font-size: 1.5em;
    }

    div.footing {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    div.footing > footer#left,
    div.footing > footer#right {
        width: 95%;
        margin: 0 auto;
    }

    div.heading > header > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        width: 90%;
    }

    header#social {
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        gap: 10%;
    }
    .fa {
        width: 100%;
        min-width: 48px;
        max-width: 75px;
        margin-bottom: 10px;
    }

    div.navbar > nav > ul li a {
        margin-right: 0;
    }

    div.navbar > nav > ul li:last-child {
        display: none;
    }
}

div.banner {
    /*display: none;*/
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

div.banner > p {
    margin-top: 0;
    margin-bottom: 0;
}

div.banner > div {
    margin-top: 0;
}

div.SANYI {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
}

img#SANYI {
    position: fixed;
    bottom: 0;
    right: 0;
}

/* Hide the images by default */
.mySlides {
    display: none;
    width: 100%;
    justify-content: center;
}

.mySlides:first-of-type {
    display: flex;
}

/* Slideshow container */
.slideshow-container {
    max-width: 90%;
    position: relative;
    margin: 10px max(85px, 5%);
}

/* Next & previous buttons */
.prevp, .nextp {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.nextp {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevp:hover, .nextp:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.5
    }
    to {
        opacity: 1
    }
}

div.page, div.content {
    width: 90%;
    margin: 10px auto;
    gap: 10px;
}

div.page > section, div.content > section {
    max-width: 100%;
}

div.page > section > img, div.content > section > img {
    max-width: 100%;
    height: auto;
}

div.page > section > iframe, div.content > section > iframe {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    div.page, div.content {
        grid-template-columns: 1fr;
    }

    a.fa {
        display: none;
    }
}