html,
body {
    height: 100%;
    margin: 0;
}

div.content {
    /*overflow: hidden;*/
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

div.content > section > {
    max-width: 100%;
    min-height: 500px;
    height: 100%;
}

section.list-of-documents {
    align-content: center;
    font-size: x-large;
    width: 100%;
    /*background-color: rgba(226, 198, 142, 0.5);*/
    background-image: radial-gradient(circle, #fff, #f6efe1, rgba(255, 255, 255, 0));
}

section.list-of-documents > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.list-of-documents > ul {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

div.content > section > iframe.own {
    aspect-ratio: 210/297;
    min-width: 210px;
    min-height: 297px;
    width: 100%;
}

div.content > section > iframe.svg {
    width: 100%;
    height: auto;
    scale: 50%;
}

div.content > section > svg {
    width: 100%;
    height: auto;
    scale: 100%;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    div.content {
        width: 90%;
        margin: 10px auto;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        gap: 10px;
    }

    div.content > section > {
        max-width: 100%;
        min-height: 0px;
        height: 100%;
    }

    div.content > section > iframe {
        display: none;
    }

    div.content > section > svg {
        display: none;
    }

    a.fa {
        display: none;
    }
}