html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

div.gallery > section {
    aspect-ratio: 269/345;
    min-height: 0;
    min-width: 350px;
    align-content: center;
}

div.gallery {
    max-height: 1080px;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 20px;
}

div.gallery > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.gallery > div > img {
    max-width: 80%;
    height: auto;
    max-height: 1080px;
}

div.gallery > div > a {
    background-color: #C2211D;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.prev {
    border-radius: 0 10px 10px 0;
}

.next {
    border-radius: 10px 0 0 10px;
}

div.gallery > div > a:hover {
    opacity: 0.7;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    div.gallery {
        width: 100%;
        margin: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
    }

    div.gallery > section {
        aspect-ratio: unset;
        min-height: 0;
        min-width: 350px;
        align-content: center;
    }

    a.fa {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    div.gallery {
        width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        gap: 10px;
    }

    div.gallery > section {
        aspect-ratio: unset;
        min-height: 0;
        min-width: 350px;
        align-content: center;
    }

    div.gallery > section > iframe {
        display: none;
    }

    .mobile {
        display: unset;
    }

    a.fa {
        display: none;
    }
}

div.strip-gallery {
    width: 90%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}

div.strip-gallery > div.years {
    display: flex;
    width: 100%;
    gap: 10px;
    align-content: center;
    justify-content: center;
    overflow: scroll;
    margin-bottom: 20px;
}

div.strip-gallery > div.years > section {
    height: 100%;
}

img.thumbnail {
    max-height: 200px;
    width: auto;
}

img.thumbnail:hover {
    opacity: 0.7;
}

section.year > p {
    display: none;
    background-color: #C2211D;
    opacity: 50%;
    padding: 5px;
    position: absolute;
    border-radius: 10px;
    top: 0;
    right: 50%;
    transform: translate(50%, -50%);
}

section.year > p:hover {
    opacity: 90%;
}