 @font-face {
     font-family: Libel_Suit_Rg;
     src: url(../Arculati_Elemek/libel-suit-rg.otf);
 }

 /* track width */
 ::-webkit-scrollbar {
     width: 6px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     background: #ab7860;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: rgba(200, 200, 200, 50%);
     border-radius: 3px;
     opacity: 20%;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: #555;
 }

 body {
     background-color: #ab7860;
     font-family: Libel_Suit_Rg, sans-serif;
     /* border: 1px solid darkred;
     border-radius: 50px;*/
 }

 body>div {
     /* background-color: rgb(194, 62, 29);
     border: 1px solid darkred;*/
     border-radius: 50px;
 }

 body>div>section {
     /* background-color: #e2c68e;*/
     padding: 2%;
     margin: 2%;
     border-radius: 50px;
 }