img:hover {
    mix-blend-mode: difference;
}

 @font-face {
     font-family: Libel_Suit_Rg;
     src: url(../Arculati_Elemek/libel-suit-rg.otf);
 }

 /* track width */
 ::-webkit-scrollbar {
     width: 6px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     background: #ab7860;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: rgba(200, 200, 200, 50%);
     border-radius: 3px;
     opacity: 20%;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: #555;
 }

 body {
     /*background-color: #9F8C76;*/
     background-color: #e5d0be;
     font-family: Libel_Suit_Rg, sans-serif;
     /* border: 1px solid darkred;
     border-radius: 50px;*/
 }

 body>div {
     /* background-color: rgb(194, 62, 29);
     border: 1px solid darkred;*/
     display: inline;
 }

 img {
     height: 70%;
     width: auto;
     float: left;
     min-height: 0;
     max-height: 50vw;
     max-width: 1920px;
     align-content: center;
 }

 img#image {
     float: unset;
     display: block;
     clear: left;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
 }

 h1 {
     border: 2px #ab7860 solid;
     border-radius: 10px;
     text-align: center;
     background: #bc9675;
     opacity: 75%;
     color: #ffffff;
     padding: 5px;
 }

 h1:hover {
     opacity: 100%;
 }

 button {
     background-color: #ab7860;
     border: #9F8C76 2px solid;
     border-radius: 0.5vw;
     font-size: 1vw;
     margin-bottom: 10px;
 }

 button:hover {
     background-color: #C2211D;
     color: #ffffff;
 }

 button#back {
     float: left;
 }

 button#forth {
     float: right;
 }

 p {
     font-size: 200%;
 < p id = "number" > text < / p >
     min-width: 500px;
     width: 95%;
     text-align: right;
 }

 p#number {
     text-align: center;
 }

 body>div>section {
     /* background-color: #e2c68e;*/
     padding: 5px;
     margin: 2%;
     border-radius: 50px;
 }

 @media only screen and (max-width: 800px) {
     img {
         width: 100%;
         height: auto;
         float: left;
         min-height: 200px;
         max-height: 1080px;
         min-width: 200px;
         max-width: 1920px;
         align-content: center;
     }

     button {
         border-radius: 2vw;
         font-size: 5vw;
         margin-bottom: 5px;
     }
 }