 @font-face {
     font-family: Libel_Suit_Rg;
     src: url(../Arculati_Elemek/libel-suit-rg.otf);
 }

 /* track width */
 ::-webkit-scrollbar {
     width: 6px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     background: #ab7860;
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: rgba(200, 200, 200, 50%);
     border-radius: 3px;
     opacity: 20%;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: #555;
 }

 body {
     /*background-color: #9F8C76;*/
     background-color: #e2c68e;
     font-family: Libel_Suit_Rg, sans-serif;
     /* border: 1px solid darkred;
     border-radius: 50px;*/
 }

 body>div {
     /* background-color: rgb(194, 62, 29);
     border: 1px solid darkred;*/
     display: inline;
 }

 img {
     min-width: 200px;
     width: 100%;
     max-width: 900px;
     float: left;
 }

 p {
     font-size: 200%;
     min-width: 500px;
     width: 95%;
     text-align: right;
 }

 body>div>section {
     /* background-color: #e2c68e;*/
     padding: 5px;
     margin: 2%;
     border-radius: 50px;
 }